* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    color: #331E05;
}

p {
    padding-left: 20px;
    text-align: left;
}

#logo {
    width: 500px;
    position: relative;
    right: 150px;
}

#logo-header {
    padding-bottom: 10px;
}
 .special-container {
    background-image: url(duck-pond.jpg);
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

h3 {
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

#sub-head {
    font-weight: 500;
    position: relative;
    top: -30px;
}

#game-header {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
}

#instruction {
    text-align: center;
    padding-bottom: 20px;
}

.jumbotron {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#game-box {
    background: #e9ecef;
    width: 800px;
    padding-bottom: 20px;
}

#baby-duck {
    float: right;
    height: 400px;
    width: 400px;
    position: relative;
    top: -60px;
    left: 100px;
}

#current-word {
    text-align: left;
    padding-bottom: 10px;
    margin: 0 auto;
}